$background-1: #F7F4EB;
$background-2: #0D1F08;
$background-3: #1F0808;

$display-1: #F2F2F2;
$display-2: #FFFFFF;
$display-3: #F7F4EB;
$display-4: #000000;

$paragraph-1: #000000;
$paragraph-2: #FFFFFF;

